@import "normalize.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: "Helvetica Neue";
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
}

.home-bg-img {
  background: linear-gradient(
      0deg,
      rgba(18, 20, 23, 0.6) 0%,
      rgba(18, 20, 23, 0.6) 100%
    ),
    url(/public/home_image.jpg);
  background-color: lightgray;
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
}
